*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header{
    background-image: url("/Mimeal/Images/background.svg");
    background: transparent rgba(0, 0, 0, 0.77) t;
    background-size: cover;
    background-repeat: no-repeat;
    font-family:  'Montserrat', sans-serif;
    margin-bottom: 50px;

}

.select{
    margin-top: 250px;
    color:white;
    margin-right: 20%;
    margin-left: 20%;
    text-align: center;
}

.select h1{
    font-family: 'Montserrat', sans-serif; ;
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: 800;
}

.logo{
    margin-left: 5%;
}


.select p{
    font-family: 'Montserrat', sans-serif; 
    font-size: 1.5rem;
    font-weight: lighter;
    margin-bottom: 20px;
}

.select button{
    padding: 10px 20px;
    margin-left: 3%;
    border: 1px solid white;
    margin-bottom: 40px;
    color: white;
    
}

.select .btn1{
    margin-left: 6%;
    background-color: #FDBC2E;
border-color: #FDBC2E;
}

.select btn2{
    background: transparent;
}

.recipe{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.recipe img{
    width: 45%;

}

.recipe .description{
    width: 45%;
}

.recipe .description h2{
    font-weight: bold;
    color: #FDBC2E;
}

.recipe .description .category{
    font-weight: bold;
}



span{
    color:#FDBC2E;
}

.play{
    position: relative;
}
.play video{
width: 90%;
margin-left: 5%;
margin-right: 5%;

}

.playbtn{
   
    border: 2px solid black;
}



